[[source]]
name = "pypi"
url = "https://pypi.org/simple"
XSverify_ssl = true

[dev-packages]
#pytest = {version="*"}
#python-language-server = {extras = ["all"],version = "*"}
#six = ">=1.12"
#snowballstemmer = ">=1.2"
#dev-python-intro = {path = "."}

[packages]
#atomicwrites = ">=1.2"
#attrs = ">=18.2"
#colorama = ">=0.4"
#mock = ">=2.0"
#more-itertools = ">=5.0"
#mypy-lang = ">=0.5"
#pbr = ">=5.1"
#pluggy = ">=0.8"
#polling = ">=0.3"
#py = ">=1.7"
#pytest = ">=4.1"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
pandas-datareader = '*'
#ipython = ">=5.0.0"
jupyter = "*"
#time = '*'
#maths = '*'
#chainer = '*'
#chainerrl = '*'
#torch = '*'
#gym  = '*'
# cupy
#PyOpenCL = '*'
#cupy-cuda90 = '*'
# vdpy
#pyglet = '*'
#pyopengl = '*'
#pyvirtualdisplay = '*'
#xvfbwrapper = '*'
# pyscreenshot = '*'
#google-colab = '*'
#jupyter = "*"
##
# chainerrl.requirements.txt
#
#cached-property
#chainer>=4.0.0
#fastcache; python_version<'3.2'
#funcsigs; python_version<'3.5'
#future
#gym>=0.9.7
#numpy>=1.10.4
#pillow
#scipy
#statistics; python_version<'3.4'
#ipython = "==5.0.0"
#ipykernel = "*"

[requires]
#python_version = "2.7"
python_version = "3.8"

[pipenv]
#allow_prereleases = true
